.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: 1px solid black;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background: lightblue;
  left: 50px;
  bottom: 50px;
}
.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background: lightcoral;
  left: 50px;
  bottom: 50px;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: lightgreen;
  position: absolute;
}
